/*
 * Copyright (c) 2024 Lothar Felten <lothar.felten@gmail.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	// chosen {
	// 	zephyr,display = &ssd1306_128x32;
	// };

	// leds {
	// 	compatible = "gpio-leds";

	// 	green_led: led_0 {
	// 		gpios =  <&gpio0 25 GPIO_ACTIVE_HIGH>;
	// 		label = "Green - LED0";
	// 	};
	// };
};


/* OLED display */
&i2c0 {
	// status = "okay";
	// clock-frequency = <I2C_BITRATE_STANDARD>;
	// sda-gpios = <&gpio0 22 GPIO_OPEN_DRAIN>;
	// scl-gpios = <&gpio0 20 GPIO_OPEN_DRAIN>;
	// pinctrl-0 = <&i2c0_default>;
	// pinctrl-names = "default";
	// ssd1306_128x32: ssd1306@3c {
	// 	compatible = "solomon,ssd1306fb";
	// 	reg = <0x3c>;
	// 	width = <128>;
	// 	height = <64>;
	// 	segment-offset = <0>;
	// 	page-offset = <0>;
	// 	display-offset = <0>;
	// 	multiplex-ratio = <63>;
	// 	segment-remap;
	// 	com-invdir;
	// 	prechargep = <0x22>;
	// 	ready-time-ms = <1000>; // It takes some time to start at power up (reset was fine) 100 ms is too low
	// };
};

// &spi3 {
// 	#address-cells = <1>;
// 	#size-cells = <0>;
// 	status = "okay";
// 	pinctrl-0 = <&spim3_default>;
// 	pinctrl-names = "default";
// 	cs-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
// 	lora0: lora@0 {
// 		compatible = "semtech,sx1276";
// 		reg = <0>;
// 		reset-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;
// 		dio-gpios =
// 			/* SX1276 D0 -> GPIO26 */
// 			<&gpio0 26 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
// 			/* SX1276 D1 -> GPIO35 */
// 			<&gpio1 3 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>,
// 			/* SX1276 D1 -> GPIO34 */
// 			<&gpio1 2 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>;
// 		spi-max-frequency = <1000000>;
// 		power-amplifier-output = "pa-boost";
// 	};
// };

// &timer0 {
// 	status = "okay";
// };

// &timer1 {
// 	status = "okay";
// };

// &timer2 {
// 	status = "okay";
// };

// &timer3 {
// 	status = "okay";
// };

// &trng0 {
// 	status = "okay";
// };

// &flash0 {
// 	status = "okay";
// 	partitions {
// 		compatible = "fixed-partitions";
// 		#address-cells = <1>;
// 		#size-cells = <1>;

// 		/* Reserve 60kB for the bootloader */
// 		boot_partition: partition@1000 {
// 			label = "mcuboot";
// 			reg = <0x00001000 0x0000F000>;
// 			read-only;
// 		};

// 		/* Reserve 1024kB for the application in slot 0 */
// 		slot0_partition: partition@10000 {
// 			label = "image-0";
// 			reg = <0x00010000 0x00100000>;
// 		};

// 		/* Reserve 1024kB for the application in slot 1 */
// 		slot1_partition: partition@110000 {
// 			label = "image-1";
// 			reg = <0x00110000 0x00100000>;
// 		};

// 		/* Reserve 256kB for the scratch partition */
// 		scratch_partition: partition@210000 {
// 			label = "image-scratch";
// 			reg = <0x00210000 0x00040000>;
// 		};

// 		storage_partition: partition@250000 {
// 			label = "storage";
// 			reg = <0x00250000 0x00006000>;
// 		};
// 	};
// };
